name: Submit Model Training
on:
  workflow_dispatch:
    inputs:
      training_entrypoint:
        description: 'Training script entrypoint'
        required: false
        type: string
        default: 'python src/train.py'
      dvc_data_version:
        description: 'DVC Registry tag for data version (e.g "wine-quality-v0.1.1")'
        required: true
        type: string
        default: 'wine-quality-v0.1.1'
      training_args:
        description: 'Additional training arguments (e.g --C 0.9 --max-iter 90 --run-name test123)'
        required: false
        type: string
        default: ''
      compute_type:
        description: 'Compute configuration'
        required: true
        type: choice
        options:
          - 'cpu-small'
          - 'cpu-medium'
          - 'cpu-large'
          - 'gpu-small'
          - 'gpu-medium'
          - 'gpu-large'
        default: 'cpu-small'
      approval_mode:
        description: 'Approval mode'
        required: true
        type: choice
        options:
          - manual
          - automatic
        default: 'manual'
      comparison_metric:
        description: 'Metric to compare models, mind of pre and suffixes'
        required: true
        type: string
        default: 'training_accuracy_score'
      higher_is_better:
        description: "Higher metric value is better."
        type: boolean
        default: true
      comparison_threshold:
        description: 'Minimum improvement threshold (0.05 = 5%)'
        required: true
        type: string
        default: '0.05'

jobs:
  train:
    # Call shared workflow
    uses: opencloudhub/.github/.github/workflows/shared-argo-ml-workflow.yaml@main
    with:
      repo_name: ${{ github.event.repository.name }}
      model_name: "wine-classifier"
      experiment_name: "wine-quality"
      dvc_data_version: ${{ inputs.dvc_data_version }}
      compute_type: ${{ inputs.compute_type }}
      approval_mode: ${{ inputs.approval_mode }}
      comparison_metric: ${{ inputs.comparison_metric }}
      higher_is_better: ${{ inputs.higher_is_better}}
      comparison_threshold: ${{ inputs.comparison_threshold }}
      training_image: "opencloudhuborg/wine-classifier:latest"
      training_entrypoint: ${{ inputs.training_entrypoint }}
      training_args: ${{ inputs.training_args }}
    secrets: inherit
